{% extends 'polls/pattern.html' %}
{% block content %}
 <div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>ЗАГОЛОВОК РУБРИКИ</h2>
      <h5>Заголовок описание, Ноябрь 7, 2018</h5>
      <div class="fakeimg" style="height:200px;">Изображение</div>
      <p>Некоторый текст..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <div class="card">
      <h2>ЗАГОЛОВОК РУБРИКИ</h2>
      <h5>Заголовок описание, Сентябрь 2, 2018</h5>
      <div class="fakeimg" style="height:200px;">Изображение</div>
      <p>Некоторый текст..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing eit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Обо Мне</h2>
      <div class="fakeimg" style="height:100px;">Изображение</div>
      <p>Какой-то текст обо мне in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Популярный пост</h3>
      <div class="fakeimg"><p>Изображение</p></div>
      <div class="fakeimg"><p>Изображение</p></div>
      <div class="fakeimg"><p>Изображение</p></div>
    </div>
    <div class="card">
      <h3>Следить за мной</h3>
      <p>Некоторый текст..</p>
    </div>
  </div>
</div>

{% endblock  %}