<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BSCL</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="style2.css" />
    <link rel="shortcut icon" href="logo.PNG" />
</head>
<body>


<div class="wrapper">
    <h1> ЛАБОРАТОРИЯ СТВОЛОВЫХ КЛЕТОК МОЗГА</h1>
    <header class="header">
        <div class="container">
            <div class="header__body">
                <a href="" class="header__logo">
                    <img src="logo.PNG" alt="">
                </a>
                <div class="header__burger">
                    <span>

                    </span>
                </div>
                <nav class="header__menu">
                    <ul class="header__list">
                        <li>
                            <a href="" class="header__link">Проекты</a>
                        </li>
                        <li>
                            <a href="" class="header__link">Статьи</a>
                        </li>
                        <li>
                            <a href="" class="header__link">О лаборатории</a>
                        </li>
                        <li>
                            <a href="" class="header__link">Контакты</a>
                        </li>
                        <li>
                            <a href="" class="header__link">Войти</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>
    </header>
    <div class="content">
        <div class="container">
            <div class="content__text">
                <p>
                 Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:Во-вторых, в данном случае у меню не нужно указывать ширину. Вы же помните, что верстка в своем начальном состоянии живет недолго? На живом сайте может быть больше пунктов меню, поэтому оно должно свободно увеличиваться.


В-третьих, отступы между пунктами меню почему-то заданы у ссылок, хотя логичнее сделать это у элементов li. Вроде мелочь? Но в верстке мелочей не бывает!


Измененный CSS меню теперь выглядит таким образом:
                </p>


            </div>
        </div>
    </div>
</div>



<script src = "https://code.jquery.com/jquery-3.4.1.slim.min.js">
</script>
<script src="js/script.js"></script>

</body>
</html>